<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive =  'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<li class="list-group-item d-flex align-items-center user_list_item <%= isActive %>">
<div class="icon-container">
<% if user.avatar.attached?%>
 <%= link_to image_tag(user.chat_pfp, class: 'chat_pfp'), user %>
  <%#= turbo_stream_from "user_status" %>
    <%else%>
    <%= link_to user do %>
      <%= image_tag(default_avatar.jpg, class: 'chat_pfp') %>
    <%end%>
  <%= link_to image_tag("default_avatar.jpg", class: 'chat_pfp '), user %>
  <%#= turbo_stream_from "user_status" %>
<%end%>
 <div>
    <%#= render "users/status", user: user  %>
  </div>
</div>
  <%= link_to user.email, user, class:'mr-auto username text-decoration-none btn btn-secondary', data: {turbo: "false"} %>
</li>